<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>City List</title>
    <!-- 可以引入CSS文件 -->

</head>
<body>
<h1>City List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>State</th>
        <th>Country</th>
    </tr>
    </thead>
    <tbody>
    <!-- 使用Thymeleaf的循环指令来遍历城市列表数据 -->
    <tr th:each="city : ${cities}">
        <td th:text="${city.id}"></td>
        <td th:text="${city.name}"></td>
        <td th:text="${city.state}"></td>
        <td th:text="${city.country}"></td>
    </tr>
    </tbody>
</table>
<!-- 可以引入JavaScript文件 -->

</body>
</html>
